{% extends 'menu.html' %}

{% block content%}

<main class="container mt-5">
    <div class=row>
        <div class="col-md-5 offset-md-3">
            <form method="POST" class="card card-body">

                {{ error }}

                {% csrf_token %} 
                <h1 class="text-center">Cadastrar novo aluno</h1>
                <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome">
                </div>
                <div class="mb-3">
                    <label for="sobrenome" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome">
                </div>
                <div class="mb-3">
                    <label for="registro" class="form-label">Número do registro</label>
                    <input type="text" class="form-control" id="registro" name="registro">
                </div>
                <div class="mb-3">
                    <label for="secao" class="form-label">Seção</label>
                    <input type="text" class="form-control" id="secao" name="secao">
                </div>
                
    

              

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}